---

import { getCollection, render } from "astro:content";

import Blog from '../../layouts/Blog.astro';

import '../../styles/global.scss';

export async function getStaticPaths() {
    const articles = await getCollection('blog');
    return articles.map(article => ({
        params: {
            id: article.id,
            slug: article.data.slug
        },
        props: { article },
    }));
}

export const prerender = true;

const { article } = Astro.props;
const { Content } = await render(article);

---

<Blog>

    <section class="blog-header" slot="header">
        <h1>{article.data.title}</h1>
    </section>

    <section class="blog-content" slot="content">
        <Content />
    </section>

</Blog>