---

const { link, text } = Astro.props;
let wavyLine = 'url(/wavy-line.svg)';

import line from '../assets/wavy-line.svg';
wavyLine = `url(${line.src})`;

---

<style lang="scss" define:vars={{wavyLine}}>
    @use '../styles/_breakpoints.scss' as device;

    li.item{
        position: relative;

        a.nav-link{
            font-size:var(--h4);
            border-bottom:10px solid var(--dark-gray);
            border-bottom:2.6vw solid var(--dark-gray);
        }

        @media only screen and (min-width: device.$tablet) {
            a.nav-link{
                line-height:90%;
                border-bottom-width:17px;
                position:relative;
                font-size:var(--h4);
            }
        }
    }
</style>

<li class="item">
    <a href={link} class="nav-link">{text}</a>
</li>