---

import { getCollection } from 'astro:content';
import '../../styles/global.scss';

const posts = await getCollection('blog');
let tags = [...new Set(posts.map((post) => {
            return (post.data.tags.map((tag) => tag.toLowerCase()));
        }).flat()
    )];
let categories = [...new Set(posts.map((post) =>{
        return (post.data.category.toLowerCase());
    }).flat()
)];

---

<style lang="scss">
    @use '../../styles/_breakpoints.scss' as device;

    .blog-category{
        display: block;
        width: fit-content;
    }

    .blog-article-tag{
        width: fit-content;
        display: block;
        background-color: var(--dark-gray);
        padding: var(--space-8-xxxs) var(--space-12-xxs);
        color: var(--light-gray);
        border-radius:40px;
        font-size: var(--h6);
        line-height: var(--line-height-h6);

        &:hover{
            background-color:var(--celeste);
            color:var(--light-gray);
        }
    }

    .blog-navigation-container{

        .blog-navigation-items-container{
            flex-direction: column;
            align-items: flex-start;
            width: calc(100% + (20px * 2));
            transform: translateX(-20px);
            padding: 0 var(--space-20-xs);
            border-top:2px solid var(--dark-gray);

            &:last-of-type{
                border-bottom: 2px solid var(--dark-gray);
            }

            details{
                overflow: hidden;
                position: relative;

                &:after{
                    position: absolute;
                    content: url(../../assets/details-arrow.svg);
                    top: 50%;
                    transform: translateY(-50%);
                    transition: transform .2s ease;
                    right: 0%;
                }

                summary{
                    cursor: pointer;
                    padding:var(--space-8-xxxs) 0;

                    font-size: var(--h5);
                    line-height: var(--line-height-h5);

                    &::marker{
                        content: none;
                    }

                    &::-webkit-details-marker {
                        display: none;
                    }
                }
            } //details

            details + .blog-items-content{
                overflow: hidden;
                max-height: 0;

                transition: max-height 0.4s ease,
                            padding 0.4s ease;
                
                display: flex;
                flex-direction: column;
                row-gap: var(--space-12-xxs);

                .blog-category{
                    font-size: var(--h5);
                    line-height: var(--line-height-h5);
                }
            }

            details[open]{
                &:after{
                    transform: translateY(calc(-50% - 2px)) rotate(180deg);
                }
            }

            details[open] + .blog-items-content{
                max-height: 450px;
                overflow: auto;
                padding: var(--space-20-xs) 0;   
            }

        }
        
        
    } // blog navigation container

    

    :global(.scroll-menu){
        overflow-y: auto;
        -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, transparent), color-stop(black), color-stop(black), to(transparent));
        -webkit-mask-image: linear-gradient(to bottom, transparent 0, black var(--top-mask-size, 0), black calc(100% - var(--bottom-mask-size, 0)), transparent 100%);
        mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, transparent), color-stop(black), color-stop(black), to(transparent));
        mask-image: linear-gradient(to bottom, transparent 0, black var(--top-mask-size, 0), black calc(100% - var(--bottom-mask-size, 0)), transparent 100%);
        --top-mask-size: 0px;
        --bottom-mask-size: 0px;

        &:global(.overflowing-bottom){
            --bottom-mask-size: var(--space-32-s) !important;
        }

        &:global(.overflowing-top){
            --top-mask-size: var(--space-32-s) !important;
        }
    }

    @media only screen and (min-width: device.$tablet){
        aside.blog-navigation{
            margin:0;

            position: sticky;
            align-self: start;
            top:var(--space-60-l);
            left:0;

            .blog-navigation-container{
                .blog-navigation-items-container{
                    width: 100%;
                    transform: unset;
                }
            }
        }
    } // tablet
</style>

<aside class="blog-navigation" slot="navigation">
    <section class="blog-navigation-container">

        <section aria-labelleby="blog-categories" class="blog-navigation-items-container">	
			<details id="blog-categories-details" aria-details="all-blog-categories">
					<summary id="blog-categories">Categories</summary>
			</details>
            <div class="blog-items-content scroll-menu" id="all-blog-categories">
                {
                    categories.map((category) => (
                        <a href={`/blog/categories/${category}`} class="blog-category">{category}</a>
                    ))
                }
			</div>
		</section>

        <section aria-labelleby="blog-articles-tags" class="blog-navigation-items-container">	
			<details id="blog-article-tags-details" aria-details="all-blog-article-tags">
					<summary id="blog-articles-tags">Tags</summary>
			</details>
            <div class="blog-items-content scroll-menu" id="all-blog-article-tags">
                {
                    tags.map((tag) => (
                        <a href={`/blog/tags/${tag}`} class="blog-article-tag">#{tag}</a>
                    ))
                }
			</div>
		</section>

    </section>
</aside>

<script>
    import '../../scripts/scroll-fadeout.js'
</script>