---

import '../styles/global.scss';

import Layout from './Layout.astro';
import Navigation from '../components/header.astro';
import Footer from '../components/footer.astro';

import BlogAside from '../components/blog/blog-aside.astro';

const {
    isArticle=false,
    pageName="Blog"
} = Astro.props;

---

<style lang="scss">
    @use '../styles/_breakpoints.scss' as device;

    :global(section.blog-header){
        display: flex;
        flex-direction: column;
        row-gap: var(--space-12-xxs);

        :global(h1){
            margin: 0;
            font-size: var(--h3);
            line-height: var(--line-height-h3);
            text-transform: uppercase;
            font-family: 'vremena-grotesk-medium', 'vremena-grotesk-regular', sans-serif;

            :global(a){
                font-size: inherit;
                font-family: inherit;
                color: inherit;
            }
        }

        :global(p){
            margin: 0;
        }
    } //header

    :global(section.blog-content){
        display:flex;
        flex-direction: column;
        row-gap: var(--space-32-s);

        :global(h2){
            font-size: var(--h4);
            line-height: var(--line-height-h4);
            // font-family: 'vremena-grotesk-medium-italic', 'vremena-grotesk-regular-italic', sans-serif;
            margin:0;
        }

        :global(section.blog-articles){
            display: flex;
            flex-direction: column;
            row-gap: var(--space-60-l);

            :global(article){
                display: flex;
                flex-direction: column;
                row-gap: var(--space-20-xs);

                :global(div.top-content){
                    display: flex;
                    flex-direction: column;
                    row-gap: var(--space-12-xxs);

                    :global(img){
                        max-width: 100%;
                        max-height: 271px;
                        object-fit: cover;
                    }

                    :global(span){
                        font-size: var(--small);
                        line-height: var(--line-height-small);
                        display: inline-block;
                        font-family: 'vremena-grotesk-medium', 'vremena-grotesk-regular', sans-serif;
                    }

                    :global(.article-metadata){
                        display: flex;
                        justify-content: flex-start;
                        column-gap: var(--space-8-xxxs);
                        align-items: center;
                    }
                }
                :global(div.text-content){
                    display: flex;
                    flex-direction: column;
                    row-gap: var(--space-12-xxs);

                    :global(a:hover){
                        :global(h3){
                            color:var(--munsell);
                        }
                    }

                    :global(h3){
                        font-size: var(--h6);
                        line-height: var(--line-height-h6);
                        margin:0;
                    }
                    :global(p){
                        margin: 0;
                        font-size: var(--p);
                        line-height: var(--line-height-p);
                    }
                }
            } //article

        } //articles

    } //results

    :global(.blog-category){
        padding:4px var(--space-12-xxs);
        border:2px solid var(--dark-gray);
        border-radius:40px;
        color: var(--dark-gray);

        &:hover{
            background-color: var(--dark-gray);
            color: var(--light-gray);
        }
    }

    :global(aside.blog-navigation){
        margin: var(--space-76-xl) 0;
    }
</style>

<Layout page={pageName}>
    <Navigation slot="navbar" />
    <main class="site-wrapper full-width">

        <slot name="header" />
        {!isArticle && 
            <BlogAside />
        }
        <slot name="content" />
        
    </main>
    <Footer slot="footer" />
</Layout>

